In [1]:
# Import models and utility functions
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
from sklearn import datasets

In [5]:
data = pd.read_csv("bank.csv", delimiter=";")
data.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no

In [6]:
data = data[['age','balance','duration','y']]

#Recoding the y column
data["y1"] = np.where(data["y"].str.contains("yes"), 1, 0)
data = data.loc[:, data.columns!='y']
data = data.rename(columns={'y1':'y'})

#Splitting data into train and test data
train, test = train_test_split(data, test_size=0.2, random_state=42)

     age  balance  duration  y
978   34      262       371  0
251   32     2349       134  0

In [10]:
# Instantiate Gradient Boosting Regressor
#gbr = GradientBoostingRegressor(n_estimators = 200, max_depth = 1, random_state = SEED)

# get independent variables
X = train[['age','balance','duration']]


# get response variables
y = train[['y']]
y = np.ravel(y) 

gbr = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
                                     max_depth=1, random_state=0)
# Fit to training set
model = gbr.fit(X, y)