In [24]:
import pandas as pd
import numpy as np

In [28]:
data = pd.read_csv(r'data.csv')
#data.head()
#data.describe()

,age,occupation,marital,education,balance,housing,loan,duration,joined
0,31.0,blue-collar,single,secondary,-806,yes,yes,205,no
1,58.0,technician,single,secondary,8600,yes,no,61,no
2,50.0,admin.,married,secondary,512,yes,yes,77,no
3,59.0,retired,married,secondary,184,no,no,163,no
4,46.0,management,married,unknown,876,yes,no,11,no